<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<script src="js/lib/jquery.js"></script>
<script src="js/lib/template.js"></script>
<script src="js/lib/kajax.js"></script>
<script src="js/lib/stick.js"></script>
<script src="js/lib/form.js"></script>
<script src="js/lib/cookie.js"></script>
<script src="js/lib/camel.js"></script>
<script src="js/lib/clone.js"></script>
<script src="js/app/manga.js"></script>
<link rel="stylesheet" href="css/lib/font-awesome.min.css" />
<link rel="stylesheet" href="css/color.css" />
<link rel="stylesheet" href="css/basic.css" />
<link rel="stylesheet" href="css/sidebar.css" />
