<% include("sidebar.html", { content: () => { %>
    <section style="padding: 15px 0">
        <% if (loggedIn) { %>
            <% include("partials/sidebar_user.html", { user: user }); %>
            <ul class="sidebar-btn-list">
                <li class="full">
                    <a href="#" class="black">取消关注该漫画</a>
                </li>
            </ul>
        <% } else { %>
            <section style="padding-bottom: 15px; margin-bottom: 15px;">
                <% include("partials/sidebar_login.html"); %>
            </section>
        <% } %>
        <ul class="sidebar-btn-list">
            <li class="full">
                <a href="#" class="black">关于该漫画</a>
            </li>
            <li class="full">
                <a href="index.html" class="black">回到书架</a>
            </li>
        </ul>
    </section>
    <section>
        <ul class="sidebar-btn-list" style="padding: 10px 0">
            <li class="full flex">
                <a href="#" class="black flex-fill center">
                    <i class="fa fa-angle-left"></i>
                    上一话
                </a>
                <a href="#" class="black flex-fill center">
                    下一话
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </section>
    <% include("partials/sidebar_setting.html"); %>
    <% if (manga.books) { %>
        <section class="wrapper" style="padding-bottom: 5px;">
            <ul class="book-list">
                <% manga.books.forEach(function (b) { %>
                    <li>
                        <a href="manga.html?id=<%= manga.dmk_id %>&epi=<%= b %>" class="btn <%= b == episode ? 'active' : '' %>">
                            第 <%= b %> 卷
                        </a>
                    </li>
                <% }); %>
            </ul>
        </section>
    <% } %>
    <section class="wrapper no-border">
        <ul class="episode-list">
            <% manga.episodes.forEach(function (e) { %>
                <li>
                    <a href="manga.html?id=<%= manga.dmk_id %>&epi=<%= e %>" class="btn <%= e == episode ? 'active' : '' %>">
                        <%= e %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </section>
<% }}); %>
