<nav>
    <a id="sidebar-toggle" class="black" href="#" onclick="Sidebar.toggle()">
        <i class="fa-rotation-toggle">
            <i class="fa fa-bars"></i>
            <i class="fa fa-angle-right"></i>
        </i>
    </a>
    <div id="sidebar-mask" class="mask" hidden="hidden" onclick="Sidebar.hide()"></div>
    <div id="sidebar" class="scroll y drop-shadow">
        <div class="wrapper">
            <section class="wrapper">
                    <h4>菜单</h4>
            </section>
            <% if (user) { %>
                <section id="sidebar-user-section">
                    <ul class="sidebar-btn-list">
                        <li class="flex">
                            <a href="#" class="flex-fill black"><%= user.username %></a>
                            <span class="flex right">
                                <a href="#" onclick="User.logout()">登出</a>
                                <a href="#" style="margin-right: 10px">更改密码</a>
                                <a href="#" style="margin-right: 10px">设置</a>
                            </span>
                        </li>
                    </ul>
                </section>
            <% } else { %>
                <section class="wrapper" id="sidebar-login-section">
                    <form id="login-form">
                        <input name="username" placeholder="用户名" required />
                        <input name="password" type="password" placeholder="密码" required />
                        <button href="#" class="btn rounded full big center" type="submit">登陆</button>
                    </form>
                </section>
            <% } %>
            <section class="wrapper">
                <div class="select" style="margin-bottom: 10px">
                    <a class="active" href="#">日间模式</a>
                    <a href="#">夜间模式</a>
                </div>
                <div class="select" style="margin-bottom: 10px">
                    <a href="#">左手模式</a>
                    <a class="active" href="#">右手模式</a>
                </div>
                <div class="zoom">
                    <a class="minus" href="#">
                        <i class="fa fa-minus"></i>
                    </a>
                    <span class="data">100</span>
                    <a class="plus disabled" href="#">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </section>
        </div>
    </div>
</nav>
