<div name="about" class="panel" id="about-panel" data-index="255">
    <div class="panel-mask mask" hidden="hidden">
        <div class="panel-scroll">
            <div class="panel-outer">
                <div class="panel-head flex">
                    <h3 class="flex-fill">关于 冴え漫画</h3>
                    <a href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="wrapper">
                        <p>
                            大家好呢！这里是Liby。
                        </p>
                        <p>
                            呀，时间过得真是快呢。跑到这个网站最开始的github commit看，好像已经两年了呢。之前写的日志上还有2.0.2什么的，想起了在伯克利苦闷的日子——当时写这个网站的点点滴滴还历历在目呢。
                            这次就......嗯，发布3.0版本吧。这个漫画网站虽然是盗链的，但是却安安稳稳地运行了快两年，在这其中，我真的，真的，用了非常非常多这个网站来看漫画，前几周定睛一看发现自己已经追了500+部漫画了呢。
                            也感谢各位存在或不存在的用户们存在或不存在的支持啦。
                        </p>
                        <p>
                            写3.0版本的契机是某天中午跟Archer同学的聊天——发现竟然真的有人会这么仔细地考虑这个漫画网站的用户体验。不禁觉得，不仅为了用户，更要为了我自己来写这个更新的啊。
                            （不如说是自己用这系统的这一年间总是出毛病所以赶紧想更新一下
                        </p>
                        <p>
                            啊，当然是更新了很多新东西，用户交互也有了质的提升。但是其实仔细想想，最近疯狂写这个网站也只是给自己找点事情做吧。实在有点苦闷了呢，这一段，学业啊实习啊恋爱啊什么的如大浪般一下拍过来，
                            自己有点受不了了呢，想要用一些东西让自己不至于觉得太颓也不至于太紧张来缓解一下情绪，于是就开始写这个了。除此之外，其实在技术上这个新的版本也有很多更新——因此我又跑去翻了翻我远古时期的
                            keeling-js框架，写了个新的前端渲染框架，用起了mongodb，特别模组化了的代码......大概这一年间自己的进步还是很大的吧。
                        </p>
                        <p>
                            网站的名字也变成了"冴え漫画"。起这个名字完全不是因为我喜欢saekano的原因（是因为喜欢英梨梨的原因（不））。其实最开始想说的是“不起眼的漫画网站培育法”不过，
                            冴え在日语中其实更多的是“简练，精致”的意思，所以其实刚好符合这个极简主义风网站的名字呢（才不会说仅仅是碰巧想到的而已（Native Speaker们大概不会这么用词吧
                            （嘛（域名都注册了就不要在意这么多了。
                        </p>
                        <p>
                            说起来，这次决定要开源这个项目了呢。<a href="https://github.com/Liby99/sae-manga">https://github.com/Liby99/sae-manga</a>。关于这个项目的Contribution方式，License和
                            Issues的方式我都写在github的repo里面了～有感兴趣的程序君们来参观一下吧～
                        </p>
                        <p>
                            总之总之～！在新的版本里有许多新的功能大家可以去探索呢，一如既往地好好地用这个极简主义的“冴え漫画”看漫画，来享受自己的闲暇时光吧～
                        </p>
                        <p>
                            Liby的个人主页：<a href="https://liby.me">https://liby.me</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
