<div name="about" class="panel" id="about-panel" hidden="hidden">
    <div class="panel-mask mask">
        <div class="panel-scroll">
            <div class="panel-outer">
                <div class="panel-head flex">
                    <h3 class="flex-fill">帮助 &amp; 关于</h3>
                    <a href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
