<% include("layout/panel.html", { name: "about", title: "关于 冴え漫画", index: 256, body: () => { %>
    <section class="wrapper">
        <h4>冴え漫画の始末</h4>
        <p>
            大家好呢！这里是Liby。呀，时间过得真是快呢。跑到这个网站最开始的github commit看，好像已经两年了呢。之前的日志上还有v2.0.2什么的，又想起了在伯克利苦闷的日子——
            这次就......嗯，发布3.0版本吧。说起来契机是某天中午跟Archer同学的聊天——发现竟然真的有人会这么仔细地考虑这个漫画网站的用户体验。
            又想起这一年来追500+部漫画的使用历程，就决定制作这一次更新了。
        </p>
        <p>
            网站的名字也变成了"冴え漫画"。起这个名字完全不是因为我喜欢saekano的原因（是因为喜欢英梨梨的原因（不））。其实最开始想说的是“不起眼的漫画网站培育法”，不过，
            冴え在日语中其实更多的是“简练，精致”的意思，所以其实刚好符合这个极简主义风网站的名字呢（才不会说仅仅是碰巧想到的而已（Native Speaker们大概不会这么用词吧
            （嘛（域名都注册了就不要在意这么多了。
        </p>
        <p>
            说起来，这次决定要开源这个项目了呢。从1.0到2.0到现在3.0，整个代码重写了2遍呢～这次也是新写了很多东西啊，开发过程真的非常开心。
            Github链接：<a href="https://github.com/Liby99/MangaReader">https://github.com/Liby99/MangaReader</a>。
            关于这个项目的Contribution方式，License和Issues的方式我都写在github的repo里面了～有感兴趣的程序君们快来参观一下吧～
        </p>
    </section>
    <section class="wrapper no-border">
        <h4>声明</h4>
        <p>
            漫画资源：本漫画网站所有资源取自<a target="_blank" href="http://cartoonmad.com">动漫狂</a>，一切汉化组资源，漫画网站资源与本人一概没有关系，
            漫画Credit自汉化组和漫画作者。网站的撰写用于学习和交流使用，严禁进行任何商业传播
        </p>
        <p>
            用户信息：所有用户信息在本系统内都是完全加密并且保护的。请用户妥善保管好自己的账户密码信息，若有服务器被攻击或者数据传输途中遭到拦截，本站点概不负责。
        </p>
    </section>
<% }}); %>
