<% include("layout/panel.html", { name: "change-password", title: "修改密码", index: 258, body: () => { %>
    <form id="change-password-form">
        <p>
            您可以在这里修改您的密码。请先输入您的旧密码：
        </p>
        <input id="change-password-old" type="password" name="oldpwd" placeholder="旧密码" required />
        <p>
            接下来请输入您的新密码，8到32位，可以包含大小写字母，数字及@-_.#*
        </p>
        <input id="change-password-new" type="password" name="newpwd" placeholder="新密码" required />
        <br />
        <button class="btn full solid rounded large" type="submit">修改密码</button>
    </form>
<% }}); %>
