<div name="help" class="panel" id="about-panel" data-index="258">
    <div class="panel-mask mask" hidden="hidden">
        <div class="panel-scroll">
            <div class="panel-outer">
                <div class="panel-head flex">
                    <h3 class="flex-fill">帮助</h3>
                    <a href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="wrapper">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
