<div name="help" class="panel" id="about-panel" data-index="258">
    <div class="panel-mask mask" hidden="hidden">
        <div class="panel-scroll">
            <div class="panel-outer">
                <div class="panel-head flex">
                    <h3 class="flex-fill">帮助</h3>
                    <a href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="wrapper no-top no-bottom">
                        <section class="wrapper">
                            <h4>用户账户</h4>
                            <blockquote>
                                从本版本（3.0）开始，所有的关注漫画的行为等都需要用户账户才能使用，请希望储存自己的阅读记录的童鞋们注册一个自己的账户哦～
                            </blockquote>
                            <p>
                                冴え漫画的用户账户系统仅使用用户名及密码进行用户认证，不需要邮箱或其他社交账号就可以登录，这是希望大家能够自由地使用这个系统，
                                不被任何其他信息所限制～<a href="#" onclick="User.showRegister()">点击这里注册</a>
                            </p>
                            <p>
                                注意，请务必允许浏览器使用cookie，这样您的登陆才会被视作有效。一旦在一个设备上登陆，您将可以再也不需要在这个设备上登录。
                                啊当然，如果你已经一年没有再访问过这个网站了的话，那个时候记录会被清空的。您可以用同一个账号在多个设备上登陆，
                                并且所有设备上的阅读记录都将是同步的～这样你将可以不仅使用电脑还可以使用手机或者平板电脑什么的同步记录呢～
                            </p>
                            <p>
                                您随时都可以登出。点击屏幕右上角或者左上角的按钮打开侧边栏之后，您将可以选择登出或者修改密码。
                                登出了之后您再进行任何的漫画阅览都不会影响您使用的账户（跟之前版本不同），也请注意一下。
                            </p>
                        </section>
                        <section class="wrapper">
                            <h4>搜索</h4>
                            <p>
                                在主页上，点击搜索框，搜索您想要的内容，然后按下回车键，就可以看到符合您搜索字符的漫画哦～
                            </p>
                            <p>
                                但请注意，搜索引擎直接引用自<a target="_blank" href="http://cartoonmad.com">动漫狂</a>，
                                所以如果说源站搜索不到的话，我们这里也搜索不到呢。敬请谅解。
                            </p>
                        </section>
                        <section class="wrapper">
                            <h4>“发现”</h4>
                            <p>
                                “发现”是3.0版本中的新功能！我们将会定期获取最新更新的漫画更新给大家！
                            </p>
                            <p>
                                每次打开网站默认显示的十个漫画将会是当前最新更新的漫画。但是如果您点击右边的菜单，将会弹出不同的漫画类别～！
                                点击漫画类别即可获取该类别下的最新更新～！这样大家就能更方便地找到你们想要的漫画了呢！
                            </p>
                            <p>
                                今后还会推出“手气不错”功能，以获取本系统内的推荐漫画～敬请期待！
                            </p>
                        </section>
                        <section class="wrapper">
                            <h4>关注漫画</h4>
                            <p>
                                只要在主页上点击了任何一个漫画，您就已经开始关注它了！系统会自动记录下您的阅读历史，并且当有更新的时候提醒您～
                                当您再次打开漫画的时候，也会自动从您看到的最新一话开始哦～
                            </p>
                            <p>
                                如果想要取消关注一个漫画的话，您可以 1. 在漫画页面打开侧边栏，点击“取消关注漫画”, 或者 2. 在主页点击“管理”按钮，然后点击漫画右上角的x来取消关注。
                            </p>
                        </section>
                        <section class="wrapper no-border">
                            <h4>用户设置</h4>
                            <p>
                                在边栏里，您将可以看见几个简单的用户设置：
                            </p>
                            <p>
                                左手模式/右手模式：左手模式时侧边栏在左手边；右手模式时侧边栏在右手边。默认是右手。这个设置的话在躺在床上的时候格外有用呢。
                            </p>
                            <p>
                                日间模式/夜晚模式：日间模式的背景是白色的，夜间模式的背景是黑色的。默认是日间模式。在晚上的时候尽量用夜间模式保护眼睛哦
                                （啊虽然漫画的背景都是白的所以可能没有很多用呢（咳
                            </p>
                            <p>
                                缩放：如果您在用大屏幕看漫画的话，有的时候画面可能太小所以感觉图片被挤在一起了。这个时候可以在这里调大缩放来看到更大的图片哦～
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
