<div name="register" class="panel" id="register-panel" data-index="256">
    <div class="panel-mask mask" hidden="hidden">
        <div class="panel-scroll">
            <div class="panel-outer">
                <div class="panel-head flex">
                    <h3 class="flex-fill">注册</h3>
                    <a href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="panel-body">
                    <form id="register-form" class="wrapper no-top">
                        <p>
                            您可以在这里注册一个账户！拥有一个账户后，系统将可以为您保存您正在追的漫画，阅读进度，用户账户设置等。如果您用多个设备，您可以在不同的设备上登录，并且阅读记录是同步的。
                            对于您的密码，我们经过加密储存，将不会暴露给任何地方。同时，请开启cookie，并且我们建议允许浏览器保存您的密码，这样您就不需要进行特殊的记忆了。
                        </p>
                        <p>
                            请在这里输入您的4到16位用户名。可以包含大小写字母，数字，及@-_.#*
                        </p>
                        <input id="register-username" type="text" name="username" placeholder="用户名" required />
                        <p>
                            请在这里输入您的8到32位的密码。可以包含大小写字母，数字及@-_.#*
                        </p>
                        <input id="register-password" type="password" name="password" placeholder="密码" required />
                        <br />
                        <button class="btn full solid rounded large" type="submit">注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
