* {
    outline: none;
    --deep-text: rgba(44,44,44,1);
    --normal-text: rgba(80,80,80,1);
    --light-text: rgba(150,150,150,1);
    --small-text: rgba(200,200,200,1);
    --line: rgba(220,220,220,1);
    --pink: rgba(237,104,149,1);
    --pink-10: rgba(237,104,149,0.1);
    --pink-20: rgba(237,104,149,0.2);
    --pink-40: rgba(237,104,149,0.4);
    --pink-60: rgba(237,104,149,0.6);
    --pink-70: rgba(237,104,149,0.7);
    --pink-80: rgba(237,104,149,0.8);
    --pink-90: rgba(237,104,149,0.9);
    --white: rgba(255,255,255,1);
    --hover-white: rgba(245,245,245,1);
    --active-white: rgba(235,235,235,1);
    --bright-text: rgba(230,230,230,1);
    --black: rgba(30,30,30,1);
    --black-background: rgba(60,60,60,0.8);
}

body.night_time * {
    --hover-white: rgba(80,80,80,0.8);
    --active-white: rgba(100,100,100,0.8);
    --line: rgba(120,120,120,1);
}

a, a:visited {
    text-decoration: none;
    color: var(--pink);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: "Helvetica", "Arial", "Heiti SC";
    color: var(--deep-text);
    -moz-user-select: none;
    -webkit-user-select: none;
}

body.night_time {
    background-color: var(--black);
    color: var(--bright-text);
}

.page {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.page section {
    padding: 20px 0;
}

.page section + section {
    border-top: 1px solid var(--line);
}

.page section .head {
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--normal-text);
}

.night_time .page section .head {
    color: var(--bright-text);
}

#index_head_section, #manga_header_section {
    padding: 60px 0 30px 0;
}

#index_title, #manga_title {
    font-weight: bold;
    font-size: 24px;
}

#index_intro, #manga_episode {
    margin-top: 3px;
    font-size: 12px;
    color: var(--light-text);
    letter-spacing: 1px;
}

#index_manga_search_section {
    padding: 20px 0;
}

#index_manga_search_outer {
    transition: all 0.2s;
    margin: 0 15px;
    border: 1px solid var(--line);
    line-height: 34px;
    border-radius: 17px;
    text-align: left;
}

#index_manga_search_outer:hover {
    border: 1px solid var(--pink-80);
}

#index_manga_search_outer.focus {
    border: 1px solid var(--pink);
}

#index_manga_search_outer i {
    float: left;
    color: var(--light-text);
    margin: 10px 5px 10px 10px;
}

#index_manga_search_outer:hover i {
    color: var(--pink-80);
}

#index_manga_search_outer.focus i {
    color: var(--pink);
}

#index_manga_search_outer input#search {
    width: calc(100% - 40px);
    line-height: 20px;
    border: none;
    background-color: transparent;
}

body.night_time #index_manga_search_outer input#search {
    color: var(--bright-text);
}

#index_manga_search_result_outer {
    transition: all 0.5s;
    margin: 20px 20px 5px 20px;
    height: 220px;
}

#index_manga_search_result_outer.collapsed {
    margin: 0 20px;
    height: 0;
    overflow: hidden;
}

#index_hot_manga_section {
    padding-bottom: 5px;
}

.horizontal_scroll_list {
    margin: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#index_following_manga_list {
    text-align: left;
    margin-top: 20px;
}

#manage_following_manga {
    float: right;
    margin-right: 20px;
    font-size: 13px;
}

.index_manga {
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.index_manga:hover {
    background-color: var(--hover-white);
}

.index_manga:active {
    background-color: var(--active-white);
}

.horizontal_scroll_list_inner .index_manga {
    float: left;
    width: 160px;
}

#index_following_manga_list .index_manga {
    display: inline-block;
    padding: 20px 0;
    width: 33.3333%;
}

#index_following_manga_list .no_following {
    line-height: 70px;
    text-align: center;
    font-size: 14px;
    color: var(--normal-text);
}

@media (max-width: 540px) {
    #index_following_manga_list .index_manga {
        width: 50%;
    }
    
    #index_following_manga_list .index_manga .index_manga_cover {
        width: 135px;
        height: 180px;
    }
}

.index_manga .index_manga_cover {
    width: 150px;
    height: 200px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.horizontal_scroll_list_inner .index_manga .index_manga_cover {
    width: 120px;
    height: 160px;
}

.index_manga_cover .has_update {
    position: relative;
    float: right;
    margin-right: -6px;
    margin-top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(245,30,30,1);
}

.index_manga_cover .unfollow {
    position: relative;
    float: right;
    margin-right: -12px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    background-color: rgba(230,230,230,0.9);
    color: var(--normal-text);
}

.index_manga_cover .unfollow:hover {
    background-color: rgba(220,220,220,0.9);
}

.index_manga_cover .unfollow:active {
    background-color: rgba(210,210,210,0.9);
}

.index_manga .index_manga_info {
    margin: 10px 0 5px;
}

.index_manga .index_manga_info .index_manga_title {
    margin-top: 3px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

.index_manga .index_manga_info .index_manga_episode {
    color: var(--light-text);
    font-size: 10px;
}

#manga_holder_section {
    
}

#manga_holder_section img {
    width: 100%;
}

#manga_footer_section {
    padding-top: 0;
    border: none;
    height: 70px;
}

#manga_footer_section .btn {
    width: 33.3333%;
    height: 70px;
    line-height: 70px;
    color: var(--normal-text);
    float: left;
    cursor: pointer;
}

#manga_footer_section .btn:hover {
    background-color: var(--hover-white);
}

#manga_footer_section .btn:active {
    background-color: var(--active-white);
}

#manga_footer_section .btn.disabled {
    cursor: default;
}

#manga_footer_section .btn.disabled:hover {
    background-color: transparent;
}

#manga_footer_section .btn.disabled:active {
    background-color: transparent;
}

#manga_footer_section .btn i {
    font-size: 20px;
    margin: 0 10px;
}

body.night_time #manga_footer_section .btn {
    color: var(--bright-text);
}

#footer_section {
    width: 100%;
    font-size: 12px;
    color: var(--light-text);
}

#menu {
    position: fixed;
}

#menu_toggle {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 22px;
    height: 22px;
    padding: 10px 11px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 127;
}

#menu.left #menu_toggle {
    right: auto;
    left: 40px;
}

@media (max-width: 540px) {
    #menu_toggle {
        top: 20px;
        right: 20px;
    }
    
    #menu.left #menu_toggle {
        left: 20px;
    }
}

#menu_toggle:hover {
    background-color: var(--hover-white);
}

#menu_toggle:active {
    background-color: var(--active-white);
}

#menu_toggle .bar {
    width: 100%;
    margin-top: 3px;
    height: 2.5px;
    background-color: var(--normal-text);
}

body.night_time #menu_toggle {
    
}

body.night_time #menu_toggle .bar {
    background-color: var(--bright-text);
}

#menu_toggle .bar + .bar {
    margin-top: 4px;
}

body.night_time #menu_outer {
    background-color: rgba(30,30,30,0.8)
}

#menu_outer {
    transition: all 0.4s;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    top: 0;
    right: -300px;
    width: 300px;
    background-color: rgba(255,255,255,0.95);
    z-index: 129;
}

#menu.left #menu_outer {
    left: -300px;
}

#menu_outer.active {
    right: 0;
    box-shadow: 0 0 10px rgba(50,50,50,0.5);
}

#menu.left #menu_outer.active {
    left: 0;
}

#menu_mask {
    z-index: 128;
}

#menu_inner {
    margin: 25px 30px;
}

.menu_section {
    padding: 20px 0;
}

.menu_section + .menu_section {
    border-top: 1px solid var(--line);
}

#menu_head {
    padding: 10px 0;
    line-height: 30px;
}

#menu_head span {
    font-weight: bold;
    color: rgba(--normal-text);
    font-size: 16px;
}

#menu_head i {
    display: block;
    float: right;
    line-height: 30px;
    cursor: pointer;
}

#menu_user {
    
}

#menu_user_login input {
    transition: all 0.2s;
    -webkit-appearance: none;
    margin: 5px 0;
    padding: 0 15px;
    width: calc(100% - 30px);
    line-height: 30px;
    border: 1px solid var(--line);
    border-radius: 15px;
    background-color: transparent;
    box-shadow: none;
}

#menu_user_login input:hover {
    border: 1px solid var(--pink-80);
}

#menu_user_login input:focus {
    border: 1px solid var(--pink);
}

body.night_time #menu_user_login input {
    color: var(--bright-text);
}

#menu_user_account a {
    float: right;
}

#menu_user_account a + a {
    margin-right: 10px;
}

#menu .button {
    margin: 10px 0;
    border: 1px solid var(--pink);
    color: var(--pink);
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

#menu .button:hover {
    background-color: var(--pink-10);
}

#menu .button:active {
    background-color: var(--pink-20);
}

#menu .selection {
    margin: 5px 10px;
    border: 1px solid var(--pink);
    color: var(--pink);
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
}

#menu .selection + .selection {
    margin-top: 15px;
}

#menu .selection .option {
    transition: all 0.1s;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}

#menu .selection .option:hover {
    background-color: var(--pink-10);
}

#menu .selection .option:active {
    background-color: var(--pink-20);
}

#menu .selection .option.active {
    background-color: var(--pink);
    color: var(--white);
}

#menu_user_login_other {
    height: 20px;
}

#menu_user_login_other a {
    line-height: 20px;
    float: right;
}

#menu_user_login_other a + a {
    margin-right: 20px;
}

.menu_button {
    transition: all 0.1s;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
}

.menu_button:hover {
    background-color: var(--hover-white);
}

.menu_button:active {
    background-color: var(--active-white);
}
            
#menu_episode_list {
    margin: 0 0 50px 0;
    padding: 0;
}

#menu_episode_list li {
    display: inline-block;
    margin: 10px 3%;
    width: 19%;
    height: 20px;
    line-height: 20px;
}

#menu_episode_list li a {
    transition: all 0.1s;
    display: block;
    text-align: center;
    border: 1px solid var(--pink);
    border-radius: 3px;
    color: var(--pink);
}

#menu_episode_list li:hover a {
    background-color: var(--pink-10);
}
            
#menu_episode_list li.active a {
    background-color: var(--pink);
    color: var(--white);
}

#panel_mask {
    z-index: 256;
}

.panel_outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 257;
}

.panel {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    border-radius: 3px;
    background-color: rgba(255,255,255,1);
    z-index: 258;
}

body.night_time .panel {
    background-color: rgba(30,30,30,0.95);
    color: rgba(230,230,230,1);
}

.panel .panel_head {
    margin: 0 30px;
    padding: 20px 0;
    line-height: 30px;
    border-bottom: 1px solid rgba(200,200,200,1);
}

.panel .panel_head span {
    font-size: 16px;
    font-weight: bold;
}

.panel .panel_head i {
    display: block;
    float: right;
    line-height: 30px;
    cursor: pointer;
}

.panel .panel_body {
    padding: 20px 30px;
}

.panel .panel_body .divider {
    margin: 30px 0;
    height: 1px;
    background-color: rgba(230,230,230,1);
}

.panel .panel_body p {
    padding-left: 10px;
    font-size: 13px;
    line-height: 24px;
    color: rgba(120,120,120,1);
}

body.night_time .panel .panel_body p {
    color: rgba(180,180,180,1);
}

.panel .panel_body a {
    text-decoration: underline;
}

.panel .panel_body ul {
    color: rgba(120,120,120,1);
}

.panel .panel_body ul li {
    line-height: 24px;
}

.panel .panel_body img {
    width: 100%;
}

@media(max-width: 710px) {
    .panel {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
    }
}

#register_form {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 30px;
}

@media(max-width: 540px) {
    #register_form {
        width: 100%;
    }
}

#register_form input {
    transition: all 0.2s;
    -webkit-appearance: none;
    margin: 10px 0;
    padding: 0 15px;
    width: calc(100% - 30px);
    line-height: 30px;
    border: 1px solid var(--line);
    border-radius: 15px;
    background-color: transparent;
}

body.night_time #register_form input {
    color: var(--bright-text);
}

#register_form input:hover {
    border: 1px solid var(--pink-80);
}

#register_form input:focus {
    border: 1px solid var(--pink-80);
}

#register_form .button {
    transition: all 0.2s;
    margin-top: 15px;
    background-color: var(--pink-80);
    color: var(--white);
    text-align: center;
    line-height: 35px;
    border-radius: 17.5px;
    cursor: pointer;
}

#register_form .button:hover {
    background-color: var(--pink-90);
}

#register_form .button:active {
    background-color: var(--pink);
}

#about_panel_body section {
    border-bottom: 1px solid rgba(220,220,220,1);
    overflow: hidden;
    height: auto;
}

#about_panel_body section.collapsed {
    height: 50px;
}

#about_panel_body section .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 15px;
    height: 50px;
    cursor: pointer;
}

@media (max-width: 540px) {
    #about_panel_body section .title {
        font-size: 14px;   
    }
}

#about_panel_body section .title:hover {
    background-color: rgba(245,245,245,1);
}

#about_panel_body section .title:active {
    background-color: rgba(235,235,235,1)
}

body.night_time #about_panel_body section .title:hover {
    background-color: rgba(50,50,50,0.9);
}

body.night_time #about_panel_body section .title:active {
    background-color: rgba(70,70,70,0.9);
}

#about_panel_body section .title i {
    transition: all 0.1s;
    margin-right: 10px;
}

#about_panel_body section .collapse_btn {
    display: block;
    margin: 20px 10px;
    text-align: right;
}

#about_panel_body .version {
    font-size: 18px;
}

#update p {
    margin: 0;
    padding: 20px;
}

#update p + p {
    border-top: 1px dashed rgba(230,230,230,1);
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,0.6);
}
