<section class="wrapper" style="padding-top: 20px; padding-bottom: 20px;">
    <div id="light-mode-select" class="select" style="margin-bottom: 15px">
        <a class="active" href="javascript:void(0);" value="day">日间模式</a>
        <a href="javascript:void(0);" value="night">夜间模式</a>
    </div>
    <div id="hand-mode-select" class="select" style="margin-bottom: 15px">
        <a href="javascript:void(0);" value="left">左手模式</a>
        <a class="active" href="javascript:void(0);" value="right">右手模式</a>
    </div>
    <div id="zoom" class="zoom">
        <a class="minus" href="javascript:void(0);">
            <i class="fa fa-minus"></i>
        </a>
        <a class="data" href="javascript:void(0)">100</a>
        <a class="plus" href="javascript:void(0);">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</section>
