<section class="wrapper" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="select" style="margin-bottom: 15px">
        <a class="active" href="javascript:void(0);">日间模式</a>
        <a href="javascript:void(0);">夜间模式</a>
    </div>
    <div class="select" style="margin-bottom: 15px">
        <a href="javascript:void(0);">左手模式</a>
        <a class="active" href="javascript:void(0);">右手模式</a>
    </div>
    <div class="zoom">
        <a class="minus" href="javascript:void(0);">
            <i class="fa fa-minus"></i>
        </a>
        <span class="data">100</span>
        <a class="plus disabled" href="javascript:void(0);">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</section>
