<div id="menu_hand_mode_setting" class="selection">
    <span id="menu_hand_mode_left" class="option" onclick="Page.setToLeftHandMode()">左手模式</span>
    <span id="menu_hand_mode_right" class="option active" onclick="Page.setToRightHandMode()">右手模式</span>
</div>
<div id="menu_time_mode_setting" class="selection">
    <span id="menu_time_mode_day" class="option active" onclick="Page.setToDayTimeMode()">日间模式</span>
    <span id="menu_time_mode_night" class="option" onclick="Page.setToNightTimeMode()">夜间模式</span>
</div>