/**
 * All the basic styles
 * @author Liby99
 * @date 2017/12/04
 */

/* -------------------- basics -------------------- */

html {
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: "SimHei", sans-serif;
    font-size: 13px;
    background-color: var(--white);
}

main {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}

section:not(.no-border) {
    border-bottom: 1px solid var(--line);
}

::selection {
    background: var(--pink-20);
}

a, a:visited {
    text-decoration: none;
    color: var(--pink);
}

a.black {
    color: var(--deep-text);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--deep-text);
}

h3, h4, h5, h6 {
    line-height: 22px;
}

p {
    font-size: 12px;
    color: var(--grey-text);
}

input, textarea {
    outline: none;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--line);
}

form {
    margin: 0;
}

blockquote {
    border-left: 2px solid var(--pink);
    background-color: var(--pink-10);
    padding: 10px 15px;
    margin: 15px 0;
    color: var(--pink);
}

/* -------------------- inputs -------------------- */

input, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.2s;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 6px 15px;
    line-height: 18px;
    background-color: transparent;
    border: 1px solid var(--line);
}

textarea {
    border-radius: 4px;
}

input {
    border-radius: 9999px;
}

input:hover {
    border: 1px solid var(--pink-80);
}

input:focus, input:active {
    border: 1px solid var(--pink);
}

/* -------------------- coordinating element styles -------------------- */

.nowrap {
    white-space: nowrap;
}

.wrapper {
    padding: 15px;
}

.wrapper.no-top {
    padding-top: 0;
}

.wrapper.no-bottom {
    padding-bottom: 0;
}

.center {
    text-align: center;
}

.scroll {
    -webkit-overflow-scrolling: touch;
}

.scroll.x {
    overflow-x: scroll;
}

.scroll.y {
    overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* -------------------- flex related styles -------------------- */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.full {
    flex-grow: 1;
}

.flex.full > * {
    flex-shrink: 0;
}

.flex.right {
    flex-direction: row-reverse;
}

.flex-fill {
    width: 0;
    flex: 1;
}

/* -------------------- buttons -------------------- */

.btn,
.select {
    transition: all 0.2s;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
}

button.btn {
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

.btn {
    padding: 0 10px;
}

.btn.circle {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.btn.grey {
    border: 1px solid var(--light-text);
    color: var(--light-text);
}

.btn.solid {
    border: 0;
    background-color: var(--pink);
    color: var(--white);
}

.btn.solid.grey {
    background-color: var(--light-text);
}

.btn.full {
    display: block;
}

.btn.big {
    display: inline-block;
    line-height: 26px;
    padding: 0 20px;
}

.btn.large {
    line-height: 35px;
}

.btn.rounded {
    border-radius: 9999px;
}

.btn:hover,
.select a:hover,
.zoom a:hover {
    background-color: var(--pink-10);
}

.btn.solid:hover {
    background-color: var(--hover-pink);
}

.btn.solid:active {
    background-color: var(--active-pink);
}

.btn:active,
.select a:active,
.zoom a:active {
    background-color: var(--pink-20);
}

.btn.active,
.select a.active,
.zoom a.active {
    background-color: var(--pink);
    color: var(--white);
}

.btn.disabled,
.select a.disabled,
.zoom a.disabled {
    background-color: var(--active-white);
    color: var(--grey-text);
    border-color: var(--grey-text);
    cursor: not-allowed;
}

.select, .zoom {
    display: flex;
    overflow: hidden;
    align-items: stretch;
    line-height: 24px;
}

.select a, .zoom > * {
    transition: all 0.2s;
    display: block;
    text-align: center;
}

.select a {
    width: 50%;
}

.zoom {
    transition: all 0.2s;
    color: var(--pink);
    white-space: nowrap;
    font-size: 12px;
}

.zoom .minus, .zoom .plus {
    width: 16px;
    padding: 0 4px;
    font-size: 10px;
}

.zoom > * > i {
    line-height: 24px;
}

.zoom .data {
    border-top: 1px solid var(--pink);
    border-bottom: 1px solid var(--pink);
    flex-grow: 1;
}

.zoom .data:before {
    content: "缩放：";
}

.zoom .data:after {
    content: "%";
}

.zoom .minus {
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--pink);
}

.zoom .plus {
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--pink);
}

/* -------------------- shadows -------------------- */

.drop-shadow {
    box-shadow: 0 0 10px var(--shadow);
}

.text-drop-shadow {
    text-shadow: 0 0 5px var(--shadow);
}

.text-drop-shadow.pink {
    text-shadow: 0 0 5px var(--pink-50);
}

/* -------------------- rotation toggle -------------------- */

.fa-rotation-toggle {
    display: inline-flex;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}

.fa-rotation-toggle > i {
    display: block;
    transition: all 0.4s;
    left: 0;
    top: 0;
    position: relative;
    width: inherit;
    height: inherit;
    transform: rotate(0);
    opacity: 1;
    line-height: inherit;
}

.fa-rotation-toggle i + i {
    opacity: 0;
    transform: rotate(-180deg);
    margin-left: -22px;
}

.fa-rotation-toggle.active i {
    opacity: 0;
    transform: rotate(180deg);
}

.fa-rotation-toggle.active i + i {
    opacity: 1;
    transform: rotate(0);
}

/* -------------------- mask -------------------- */

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mask);
}
