body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

main {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}

main > section {
    border-bottom: 1px solid var(--line);
}

a, a:visited {
    text-decoration: none;
    color: var(--pink);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--deep-text);
}

p {
    font-size: 12px;
    color: var(--grey-text);
}

input, textarea {
    outline: none;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--line);
}

form {
    margin: 0;
}

.nowrap {
    white-space: nowrap;
}

.wrapper {
    padding: 15px;
}

.flex {
    display: flex;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.full {
    flex-grow: 1;
}

.flex.full > * {
    flex-shrink: 0;
}

.flex.right {
    flex-direction: row-reverse;
}

.flex-fill {
    width: 0;
    flex: 1;
}

.scroll-x {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.btn {
    transition: all 0.2s;
    padding: 0 10px;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 3px;
    white-space: nowrap;
}

.btn.circle {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.btn.grey {
    border: 1px solid var(--light-text);
}

.btn.solid {
    border: 0;
    background-color: var(--pink);
    color: var(--white);
}

.btn.solid.grey {
    background-color: var(--light-text);
}

.btn.full {
    display: block;
}

.btn.rounded {
    border-radius: 9999px;
}

.btn:hover {
    background-color: var(--pink-10);
}

.btn:active {
    background-color: var(--pink-20);
}

.btn.active {
    background-color: var(--pink);
    color: var(--white);
}

.fa-rotation-toggle {
    display: inline-flex;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}

.fa-rotation-toggle > i {
    display: block;
    transition: all 0.4s;
    left: 0;
    top: 0;
    position: relative;
    width: inherit;
    height: inherit;
    transform: rotate(0);
    opacity: 1;
    line-height: inherit;
}

.fa-rotation-toggle i + i {
    opacity: 0;
    transform: rotate(-180deg);
    margin-left: -22px;
}

.fa-rotation-toggle.active i,
.btn.active .fa-rotation-toggle i {
    opacity: 0;
    transform: rotate(180deg);
}

.fa-rotation-toggle.active i + i,
.btn.active .fa-rotation-toggle i + i {
    opacity: 1;
    transform: rotate(0);
}
