.manga {
    transition: all 0.2s;
    text-align: center;
    padding: 20px;
}

.manga:hover {
    background-color: var(--hover-white);
}

.manga:active {
    background-color: var(--active-white);
}

.manga .cover {
    background-position: center;
    background-size: cover;
}

.manga .title {
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
}

.manga.search .cover,
.manga.discover .cover {
    width: 120px;
    height: 160px;
}

.manga.search .title,
.manga.discover .title {
    margin-top: 10px;
}

#index-header-section {
    padding: 60px 0 30px;
}

#index-search-form {
    transition: all 0.1s;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--line);
    display: flex;
    overflow: hidden;
    cursor: text;
}

#index-search-form > i {
    transition: all 0.1s;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--light-text);
}

#index-search {
    width: calc(100% - 80px);
    border: none;
    background-color: transparent;
    font-size: 14px;
}

#index-search-form.focus {
    border: 1px solid var(--pink);
}

#index-search-form.focus > i {
    color: var(--pink);
}

#index-search-loading {
    position: absolute;
    width: 20px;
    height: 40px;
    padding: 0 10px;
}

#index-search-clear {
    position: absolute;
    margin-left: 0;
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--light-text);
    color: var(--white);
    text-align: center;
    cursor: pointer;
}

#index-search-clear i {
    font-size: 12px;
    line-height: 20px;
}

#index-search-result-outer {
    padding-top: 0;
}

#index-search-result {
    display: flex;
    flex-flow: nowrap;
}

#index-discover-header {
    display: flex;
}

#index-discover-title {
    width: 50px;
}

#index-discover-tags-outer {
    width: calc(100% - 50px);
}

#index-discover-tags-toggle {
    display: block;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}

#index-discover-tags-toggle i {
    left: 0;
    top: 0;
    position: relative;
    width: inherit;
    height: inherit;
    transition: all 0.4s;
    transform: rotate(0);
    opacity: 0;
    line-height: inherit;
}

#index-discover-tags-toggle i.active {
    opacity: 1;
}

#index-discover-tags-toggle i.fa-bars {
    font-size: 16px;
}

#index-discover-tags-toggle i.fa-bars.active {
    transform: rotate(180deg);
}

#index-discover-tags-toggle i.fa-angle-left {
    top: 1px;
    font-size: 20px;
    margin-top: -22px;
}

#index-discover-tags-toggle i.fa-angle-left.active {
    transform: rotate(-180deg);
}

#index-discover-tags-holder {
    transition: all 0.4s;
    width: 0;
}

#index-discover-tags-holder.active {
    padding-right: 10px;
    width: calc(100% - 32px);
}

#index-discover-tags {
    display: flex;
    flex-wrap: nowrap;
}

#index-discover-tags .tag {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
}
