.manga {
    transition: all 0.15s;
    text-align: center;
    padding: 20px;
}

.manga:hover {
    background-color: var(--hover-white);
}

.manga:active {
    background-color: var(--active-white);
}

.manga .cover {
    background-position: center;
    background-size: cover;
}

.manga .title {
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
}

.manga.following {
    width: 33.3333%;
}

.manga.search .cover,
.manga.discover .cover {
    transition: all 0.2s;
    width: 120px;
    height: 160px;
}

.manga.search:hover .cover,
.manga.discover:hover .cover {
    margin: -5px;
    width: 130px;
    height: 170px;
}

.manga.following .cover {
    width: 140px;
    height: 200px;
}

.manga .title {
    transition: all 0.2s;
    margin-top: 10px;
    margin-bottom: -5px;
}

/*.manga:hover .title {
    margin-top: 0px;
}*/

#index-search-form {
    transition: all 0.2s;
    height: 36px;
    border-radius: 18px;
    border: 1px solid var(--line);
    display: flex;
    overflow: hidden;
    cursor: text;
}

#index-search-form > i {
    transition: all 0.2s;
    width: 36px;
    height: inherit;
    line-height: 36px;
    text-align: center;
    color: var(--light-text);
}

#index-search {
    width: calc(100% - 72px);
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 12px;
}

#index-search-form.focus {
    border: 1px solid var(--pink);
}

#index-search-form.focus > i {
    color: var(--pink);
}

#index-search-loading {
    position: absolute;
    width: 20px;
    height: 36px;
    padding: 0 8px;
}

#index-search-clear {
    position: absolute;
    margin: 8px;
    text-align: center;
}

#index-search-clear i {
    font-size: 12px;
    line-height: 20px;
}

#feeling-lucky {
    line-height: 21px;
    height: 20px;
    margin: 0 10px;
}

#index-discover-tags-toggle .fa-angle-right {
    margin-top: 0px;
    font-size: 18px;
}

#index-discover-tags-holder {
    transition: all 0.4s;
    width: 0;
}

#index-discover-tags-holder.active {
    margin-left: 10px;
    padding-right: 10px;
    width: calc(100% - 42px);
}

#index-discover-tags .tag {
    height: 20px;
    line-height: 21px;
    margin-left: 5px;
}

#index-following-menu a {
    display: block;
    height: 22px;
    text-align: center;
}

#index-following-menu a + a {
    margin-right: 10px;
}

#index-following-header-inner {
    transition: all 0.2s;
}

#index-following-header-inner.stick {
    background-color: var(--white);
    border-bottom: 1px solid var(--line);
}
