#manga-header-section {
    padding-top: 45px;
}

.book-list,
.episode-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    width: calc(100% + 10px);
    padding: 0;
}

.book-list li,
.episode-list li {
    margin-bottom: 10px;
}

.book-list li {
    width: 33.3333%;
}

.episode-list li {
    width: 25%;
}

.book-list li a,
.episode-list li a {
    display: block;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
}

#manga-body-section img {
    display: block;
    width: 100%;
}

#manga-body-section img + img {
    margin-top: 5px;
}

#manga-navigation-section a {
    transition: all 0.2s;
    line-height: 60px;
}

#manga-navigation-section a.disabled {
    cursor: default;
}

#manga-navigation-section a:not(.disabled):hover {
    background-color: var(--hover-white);
}

#manga-navigation-section a:not(.disabled):active {
    background-color: var(--active-white);
}

#manga-navigation-section a i {
    margin: 0 10px;
    font-size: 16px;
}

@media(max-width: 540px) {
    #manga-header-section {
        padding-top: 15px;
    }
}
