.book-list,
.episode-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    width: calc(100% + 10px);
    padding: 0;
}

.book-list li,
.episode-list li {
    margin-bottom: 10px;
}

.book-list li {
    width: 33.3333%;
}

.episode-list li {
    width: 25%;
}

.book-list li a,
.episode-list li a {
    display: block;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
}

#login-form input {
    width: 100%;
}
