nav {
    
}

#sidebar-toggle {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    z-index: 129;
}

#sidebar-toggle .fa-rotation-toggle {
    margin: 7px;
}

#sidebar-toggle .fa-rotation-toggle i.fa-angle-right {
    font-size: 20px;
}

#sidebar {
    position: fixed;
    transition: all 0.4s;
    height: 100%;
    top: 0;
    right: -310px;
    width: 300px;
    background-color: var(--white-background);
    z-index: 128;
}

#sidebar.active {
    right: 0;
}

#sidebar-mask {
    z-index: 127;
}
