<!DOCTYPE html>
<html>
    <head>
        <title>SaeManga - Error <%= code %></title>
        <link rel="stylesheet" href="css/color.css" />
        <link rel="stylesheet" href="css/basic.css" />
    </head>
    <body>
        <center class="wrapper" style="margin-top: 100px">
            <h2>
                ₍₍ (̨̡ ‾᷄ᗣ‾᷅ )̧̢ ₎₎
            </h2>
            <p style="margin-top: 20px">
                错误 <%= code %>: <%= msg %>
            </p>
            <p>
                <a href="index.html">回到主页面</a>
            </p>
        </center>
    </body>
</html>
