<% include("view/layout.html", { title: () => { %>
    SaeManga - <%= manga.title() %>
<% }, header: () => { %>
    <link rel="stylesheet" href="css/manga.css" />
    <script>
        const manga = new Manga(<%- JSON.stringify(manga.data) %>);
        const episode = <%- episode %>;
    </script>
<% }, sidebar: () => { %>
    <% include("view/manga_sidebar.html", { loggedIn, user, manga, follow, episode }); %>
<% }, main: () => { %>
    <section id="manga-header-section">
        <center class="wrapper">
            <h1>-<%= manga.title() %>-</h1>
            <p style="margin-top: 0px">
                第 <%= episode %> <%= manga.isBook(episode) ? "卷" : "话" %>
            </p>
        </center>
    </section>
    <section id="manga-body-section" class="no-border" style="padding-top: 15px">
        <!-- The images will go here -->
    </section>
    <section id="manga-navigation-section" class="flex" style="padding: 15px 0">
        <% include("view/partials/prev_episode.html", { manga: manga, episode: episode }); %>
        <a href="index.html" class="black center flex-fill">
            返回我的书架
        </a>
        <% include("view/partials/next_episode.html", { manga: manga, episode: episode }); %>
    </section>
<% }, templates: () => { %>
    <% include("view/templates/manga_image.html"); %>
    <% include("view/panels/manga.html", { manga: manga }); %>
<% }, scripts: () => { %>
    <script src="js/manga.js"></script>
<% }}); %>
